<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
</head>
<body>
    <div class="container">
       <header>
            <h1>Bundesliga Predictor</h1>
            <img src="{{ url_for('static', filename='Images/bundesliga-logo.png') }}" alt="Bundesliga Logo" class="logo">
            <h2>Account Settings</h2> 
        </header>

        <!-- Back to Menu Button -->
        <a href="{{ url_for('index') }}">
            <button type="button">Back to Menu</button>
        </a>   
<div class="form-container">
    <p>Please verify your password to proceed.</p>
    <form method="POST">
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" name="current_password" id="current_password" required>
        </div>
        <button type="submit">Verify</button>
    </form>
</div>
</body>
</html>
